@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/n9Y2Eb4BaSg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

    <p>
        <button onclick="myMove()">Click Me</button>
    </p>

    <div id="myContainer">
        <div id="myAnimation"></div>
    </div>
</div>
